


body {
    background-image: linear-gradient( 110.1deg,  rgb(69, 27, 147) 44.2%, rgb(80, 0, 91) 138.2%, rgb(255, 148, 226) 138.2% );
    background-size: 300% 300%;

    min-height: 100vh;
    height : 100%;
    padding:  0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colors 5s infinite;
}

@media (max-width: 300px) {
    body {
        background-color: rgba(240, 248, 255, 0.012);
    }
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }


}

h3 {
    color:#ffffff;
    opacity: 1;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;

}

.login-box {
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.109);
    border-radius: 10px;
    width: 400px;
    padding: 30px;

}

.informacoes-de-login {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
}

.icone {
    width: auto;
    height: auto;
    max-width: 10px;
    max-height: 10px;
    position: relative;
    top: -80px;
    left: 150px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;

}

input {
    outline: 0;
    border: 2px solid #D0CBE4;
    border-radius: 10px;
    padding: 10px;

}

input:focus {
    border: 2px solid #8376BA;
}

::placeholder {
    color: #c1c1c1;
}

button {
    margin-top: 20px;
    padding: 12px;
    color: white;
    font-weight: bold;
    background-color: #967AFE;
    border: 0;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

button:hover {
    
    color:black;

}

p{
    font-size: 14px;
    text-align: center;
}

a {
    color:#9679e9;
    font-weight: bold;
    text-decoration: none;
}

